/* Global @Funtion Style */
/*Google Fonts Variable */
/* Global Color Variable */
/* Global Font Size Variable */
/*Global @Mixin Style */
/* Global @Extend Style */
footer, .contact-section, .blog-section, .team-section, .testimonial-section, .services-section, .about-section {
  padding: 70px 0px;
}

.contact-section .section-title-wrapper, .blog-section .section-title-wrapper, .team-section .section-title-wrapper, .services-section .section-title-wrapper, .about-section .section-title-wrapper {
  text-align: center;
}
.contact-section .section-title-wrapper span, .blog-section .section-title-wrapper span, .team-section .section-title-wrapper span, .services-section .section-title-wrapper span, .about-section .section-title-wrapper span {
  color: #888888;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 30px 0px;
}
.contact-section .section-title-wrapper h3, .blog-section .section-title-wrapper h3, .team-section .section-title-wrapper h3, .services-section .section-title-wrapper h3, .about-section .section-title-wrapper h3 {
  padding: 30px 0px;
}

.contact-section form, .appoinment-section .form-wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-section form ::placeholder, .appoinment-section .form-wrapper form ::placeholder {
  text-transform: uppercase;
}
.contact-section .form-group, .appoinment-section .form-wrapper .form-group {
  width: 100%;
  margin: 10px 0px;
}
.contact-section .form-control, .appoinment-section .form-wrapper .form-control {
  color: #888888;
  width: 100%;
  height: 45px;
  border: 1px solid #d4d3d3;
  padding: 10px;
  background: transparent;
}
.contact-section textarea, .appoinment-section .form-wrapper textarea {
  height: 60px !important;
}

.footer-social-icon a, .footer-menu-wrapper a, .contact-section .address-wrapper address a, .team-section .team-member-box .team-member-bio .social-icon-box, .team-section .team-member-box .team-member-bio, .team-section .team-member-box, header .main-menu li a {
  -webkit-animation-delay: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* Global Style */
body {
  color: #888888;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

p {
  color: #888888;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 28px;
}

h1, h2, h3, h4, h5, h6 {
  color: #1E2528;
  font-family: "Rufina", serif;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 60px;
  line-height: 70px;
}

h3 {
  font-size: 42px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

button, .btn-global, .btn-round {
  color: #fff;
  background: #ff817e;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid #ff817e;
  padding: 15px 30px;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover, .btn-global:hover, .btn-round:hover {
  color: #1E2528;
}

.btn-round {
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  color: #1E2528;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.img-fit {
  width: 100%;
  display: block;
}

.section-spacer {
  padding: 30px;
}

.half-width {
  max-width: 50% !important;
}

/* Theme Main CSS */
/* Header Section */
header {
  padding: 15px 0px;
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

header .row {
  align-items: center;
}
header .main-menu {
  display: flex;
  flex-wrap: wrap;
}
header .main-menu li {
  padding: 10px 20px;
}
header .main-menu li a {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
header .main-menu li a:hover {
  color: #ff817e;
}

/* Banner Section */
.banner-section {
  padding: 170px 0px 100px;
  background: #fff url(../images/leaf.png) no-repeat center left;
  background-size: 12%;
  position: relative;
}

.banner-section .banner-img img {
  position: absolute;
  width: 43.4%;
  right: 0;
  top: 0;
}
.banner-section .banner-top-title {
  color: #ff817e;
  font-family: "Rufina", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.banner-section h2 {
  padding: 35px 0px;
}
.banner-section p {
  color: #555;
  line-height: 30px;
}
.banner-section .baner-button-wrapper {
  display: flex;
  padding-top: 45px;
  align-items: center;
  position: relative;
}
.banner-section .baner-button-wrapper i {
  font-size: 40px;
  color: #ff817e;
  padding: 0px 10px 0px 20px;
}
.banner-section .baner-button-wrapper span {
  color: #555;
  font-weight: 400;
  position: absolute;
  line-height: 40px;
}
.banner-section .baner-button-wrapper span:hover {
  color: #ff817e;
}

/* About Section */
.about-section {
  background: #fff;
  position: relative;
}

.about-section .section-title-wrapper p {
  width: 80%;
  margin: auto;
}

.about-bg-small-img-1 {
  max-width: 150px;
  position: absolute;
  top: 40px;
  left: 16%;
}

.about-bg-small-img-2 {
  position: absolute;
  max-width: 100px;
  top: 22%;
  right: 145px;
}

.section-top-image {
  width: 100%;
  text-align: center;
  padding: 25px 0px;
}

.about-section .btn-wrapper {
  text-align: center;
  margin: auto;
  padding-top: 55px;
}
.about-section .section-spacer {
  padding: 50px;
}
.about-section .feature-item-box {
  position: relative;
}
.about-section .feature-item-box .hover-effect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 129, 126, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.about-section .feature-item-box .hover-effect .hover-content img {
  display: block;
  margin: auto;
  padding: 20px;
}
.about-section .feature-item-box .hover-effect .hover-content span {
  color: #fff;
  font-family: "Rufina", serif;
  font-weight: 700;
}
.about-section .feature-item-box:hover .hover-effect {
  opacity: 1;
}

/* Services Section */
.services-section {
  padding-top: 0px;
  background: #fff;
}

.services-section .section-spacer {
  padding: 30px;
}

.service-item-box, .blog-item-box {
  padding: 20px;
  background: #fff;
  border: 1px solid #e3e6ea;
  transition: 0.3s ease-in-out;
}
.service-item-box .service-body-content, .blog-item-box .service-body-content, .blog-item-box .blog-body-content {
  text-align: center;
}
.service-item-box .service-body-content h4, .blog-item-box .service-body-content h4, .blog-item-box .blog-body-content h4 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.service-item-box .service-body-content h4 a, .blog-item-box .service-body-content h4 a, .blog-item-box .blog-body-content h4 a {
  font-family: "Rufina", serif;
}
.service-item-box .service-body-content .service-button, .blog-item-box .service-body-content .service-button, .blog-item-box .blog-body-content .service-button, .blog-item-box .blog-body-content .blog-button {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #30383b;
  border-color: #30383b;
  margin: 30px 0px;
  transition: 0.3s ease-in-out;
}
.service-item-box:hover .service-button, .service-item-box:hover .blog-item-box .blog-body-content .blog-button, .blog-item-box .blog-body-content .service-item-box:hover .blog-button, .blog-item-box:hover .service-button, .blog-item-box:hover .blog-body-content .blog-button {
  color: #fff;
  background: #ff817e;
  border-color: #ff817e;
}
.service-item-box:hover, .blog-item-box:hover {
  cursor: pointer;
  box-shadow: 0 5px 20px #f0f0f0;
}

/* Testimonial Section */
.testimonial-section {
  background: #FFF9F8;
}

.testimonial-carousel .owl-dot span {
  width: 8px !important;
  height: 8px !important;
  background: #ff817e !important;
}

.testmonial-box {
  text-align: center;
}
.testmonial-box .quote-img {
  width: auto !important;
  margin: 0 auto;
}
.testmonial-box p {
  color: #555;
  font-size: 18px;
  font-family: "Rufina", serif;
  line-height: 32px;
  padding: 40px 0px;
}
.testmonial-box .testimonial-user-box .image-circle-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px auto 20px;
}
.testmonial-box .testimonial-user-box h4 {
  font-weight: 400;
}
.testmonial-box .testimonial-user-box h4 span {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* Team Section */
.team-section {
  background: #fff;
}

.team-section .team-member-box {
  position: relative;
}
.team-section .team-member-box .team-member-bio {
  width: calc(100% - 60px);
  text-align: center;
  background: #fff;
  padding: 30px 0px;
  line-height: 30px;
  box-shadow: 0 5px 20px #f0f0f0;
  margin: 0 auto;
  position: relative;
  top: -50px;
}
.team-section .team-member-box .team-member-bio .social-icon-box {
  visibility: hidden;
  margin-top: -20px;
  padding: 10px 0px;
  opacity: 0;
}
.team-section .team-member-box .team-member-bio .social-icon-box a {
  width: 30px;
  height: 30px;
  margin: 0px 5px;
  border: 1px solid #1E2528;
  line-height: 30px;
  border-radius: 100%;
  display: inline-block;
}
.team-section .team-member-box .team-member-bio .social-icon-box a:hover {
  color: #fff;
  background: #ff817e;
  border-color: #ff817e;
}
.team-section .team-member-box:hover .team-member-bio {
  top: -80px;
}
.team-section .team-member-box:hover .social-icon-box {
  visibility: visible;
  margin-top: 0;
  opacity: 1;
}

/* Appoinment Section */
.appoinment-section {
  background: #FFF9F8;
}

.appoinment-image-box {
  background: url(../images/appointment-img.jpg) no-repeat left;
  background-size: cover;
}

.appoinment-section .form-wrapper {
  padding: 30px 40px;
}
.appoinment-section .form-wrapper form ::placeholder {
  font-size: 14px;
}
.appoinment-section .form-wrapper .form-group {
  margin: 20px 0px;
}
.appoinment-section .form-wrapper .half-width {
  width: 49%;
}
.appoinment-section .form-wrapper .form-control {
  border: none;
  padding: 0;
  border-bottom: 2px solid #d4d3d3;
}
.appoinment-section .form-wrapper .select-menu {
  text-transform: uppercase;
}

/* Blog Section */
.blog-section {
  background: #fff;
}

.blog-item-box .featured-img {
  margin: -20px;
  margin-bottom: 0px;
}
/* Contact Section */
.contact-section {
  background: #fff;
  padding-top: 0px;
}

.contact-section .address-wrapper {
  padding-top: 30px;
}
.contact-section .address-wrapper address {
  position: relative;
  color: #555;
  padding-left: 80px;
  line-height: 25px;
  margin-bottom: 25px;
}
.contact-section .address-wrapper address span {
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 50px;
  text-align: center;
  background: #ff817e;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-section .address-wrapper address a:hover {
  color: #ff817e;
}
.contact-section .form-control {
  height: 55px;
}
.contact-section textarea {
  height: 80px !important;
}
.contact-section .contact-button {
  margin-top: 10px;
}

/* Footer Section */
footer {
  background: #FFF9F8;
}
footer p {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}
footer p span {
  color: #ff817e;
}

.footer-logo-wrapper {
  text-align: center;
}

.footer-menu-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.footer-menu-wrapper a {
  color: #1E2528;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 20px;
}
.footer-menu-wrapper a:hover {
  color: #ff817e;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  padding: 10px 0px 25px;
}
.footer-social-icon a {
  width: 35px;
  text-align: center;
}
.footer-social-icon a:not(:last-child) {
  border-right: 1px solid #555;
}
.footer-social-icon a:hover {
  color: #ff817e;
}

/*# sourceMappingURL=style.css.map */
